.gradient {
    background: rgb(36, 36, 36);
    background: -moz-linear-gradient(0deg, rgba(36, 36, 36, 0.7) 0%, rgba(255, 255, 255, 0) 50%);
    background: -webkit-linear-gradient(0deg, rgba(36, 36, 36, 0.7) 0%, rgba(255, 255, 255, 0) 50%);
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.7) 0%, rgba(255, 255, 255, 0) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#242424", endColorstr="#ffffff", GradientType=1);
}

.gradient-lateral {
    background: rgb(36, 36, 36);
    background: -moz-linear-gradient(90deg, rgba(36, 36, 36, 0.8) 0%, rgba(255, 255, 255, 0) 75%);
    background: -webkit-linear-gradient(90deg, rgba(36, 36, 36, 0.8) 0%, rgba(255, 255, 255, 0) 75%);
    background: linear-gradient(90deg, rgba(36, 36, 36, 0.8) 0%, rgba(255, 255, 255, 0) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#242424", endColorstr="#ffffff", GradientType=1);
}