<div class="relative top-0 inset-0">
  <div class="text-white shadow-lg flex object-cover" style="height: 39em;">
    <div class="flex relative w-full">
      <a [routerLink]="['/car', popularCars[currentPage-1].id]" class="w-full relative focus:outline-none">
        <img class="object-cover w-full h-full"
          [src]="'http://localhost:8083' + popularCars[currentPage-1].images[0].imageUrl">
        <div class="gradient object-cover absolute top-0 w-full h-full"></div>
        <div class="gradient-lateral object-cover absolute top-0 w-full h-full"></div>
        <div class="absolute top-0 left-0 w-full">
          <div class="ml-8 mt-20">
            <h1 class="text-5xl font-bold">{{popularCars[currentPage - 1].brand}} {{popularCars[currentPage - 1].model}}
            </h1>
            <div class="flex mt-5 space-x-4">
              <p class="bg-gray-300 text-gray-600 rounded-2xl px-4 text-md py-1">{{popularCars[currentPage -
                1].gearbox}}
              </p>
              <p class="bg-gray-300 text-gray-600 rounded-2xl px-4 text-md py-1">{{popularCars[currentPage - 1].fuel}}
              </p>
              <p class="bg-gray-300 text-gray-600 rounded-2xl px-4 text-md py-1">{{popularCars[currentPage - 1].distance
                |
                roundToThousandth }} km</p>
              <p *ngIf="popularCars[currentPage - 1].horsepower" class="bg-gray-300 text-gray-600 rounded-2xl px-4 text-md py-1">{{popularCars[currentPage -
                1].horsepower
                | thousandSeparator }} hp</p>
            </div>
            <h3 class="mt-5 text-4xl">{{popularCars[currentPage - 1].price | thousandSeparator}}
              {{popularCars[currentPage
              - 1].currency}}
            </h3>
          </div>
        </div>
      </a>
      <div
        class="absolute left-0 right-0 bottom-0 flex items-center backdrop-blur-sm bg-black bg-opacity-5 justify-between w-full">
        <button class="text-white font-bold py-2 px-6 focus:outline-none" (click)="prevPage()">
          <i class="fas fa-chevron-left"></i>
        </button>
        <div class="mt-auto mb-4 flex justify-center space-x-2">
          <button *ngFor="let car of popularCars; let i = index"
            class="w-16 h-1 rounded-lg hover:bg-gray-400 transition-colors cursor-pointer focus:outline-none"
            [ngClass]="{'bg-gray-500': currentPage - 1 === i, 'bg-gray-300': currentPage - 1 !== i}"
            (click)="changePage(i + 1)">
          </button>
        </div>

        <button class="text-white font-bold py-2 px-6 focus:outline-none" (click)="nextPage()">
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<app-car-page></app-car-page>