<div class="mx-12 my-10">
  <div class="relative mb-8 flex">
    <div class="space-x-4 flex w-full">
      <div class="flex bg-gray-200 rounded-lg w-3/6 h-10 align-middle justify-between self-center">
        <input type="text" placeholder="Search" [(ngModel)]="searchFilter" (keyup)="onSearch()" class="bg-transparent px-3 focus:outline-none w-full text-gray-500">
        <button class="focus:outline-none" (click)="onSearch()"><i class="fa fa-search text-gray-500 px-3 hover:text-sky-700"></i></button>
      </div>      
      <div class="flex space-x-4 justify-between w-3/6">
        <div class="flex h-10 space-x-3">
          <button
            class="rounded-lg flex items-center text-white px-3 focus:outline-none bg-sky-600 hover:bg-sky-700 transition-all">Filter
            <i class="fa-solid fa-filter pl-2"></i>
          </button>
          <button *ngIf="isCurrentUserAdmin()" (click)="pupulate(1)"
            class="rounded-lg font-medium px-2 bg-gray-200 hover:bg-gray-300 transition-all text-gray-600">
            +1
          </button>
          <button *ngIf="isCurrentUserAdmin()" (click)="pupulate(10)"
            class="rounded-lg font-medium px-2 bg-gray-200 hover:bg-gray-300 transition-all text-gray-600">
            +10
          </button>
          <button *ngIf="isCurrentUserAdmin()" (click)="pupulate(50)"
            class="rounded-lg font-medium px-2 bg-gray-200 hover:bg-gray-300 transition-all text-gray-600">
            +50
          </button>
          <button *ngIf="isCurrentUserAdmin()" (click)="empty()"
            class="rounded-lg font-medium px-3 bg-gray-200 hover:bg-gray-300 transition-all text-gray-600">
            <i class="fas fa-broom"></i>
          </button>
        </div>
        <p class="text-gray-500 self-center text-center">Showing {{cars.length}} of {{totalElements}} total cars</p>
        <div class="flex space-x-4">
          <button class="text-xl text-gray-300 focus:text-gray-500 hover:text-gray-400"><i
              class="fa fa-square "></i></button>
          <button class="text-xl text-gray-300 focus:text-gray-500 hover:text-gray-400"><i
              class="fa fa-square "></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="grid lg:grid-cols-3 gap-8 ">
    <div *ngFor="let car of cars"
      class="group relative rounded-lg w-full h-60 text-card-foreground shadow-sm flex bg-gray-100 hover:bg-gray-200 transition-all duration-300 ease-in-out hover:shadow-md hover:-translate-y-1">
      <button (click)="handleBookmarkClick(car)"
        class="absolute -top-1 left-10 text-5xl hover:text-sky-600 text-gray-800 transition-colors rounded-lg">
        <i class="fas fa-bookmark"></i>
      </button>
      <a (click)="navigateToCar(car.id)" class="flex w-full text-decoration-none cursor-pointer">
        <div class="flex-none w-1/2 rounded-l-lg text-white">
          <img [src]="'http://localhost:8083' + car.images[0]?.imageUrl" class="object-cover rounded-l-lg w-full h-full">
        </div>
        <div class="flex flex-col w-1/2 justify-between rounded-r-lg p-4">
          <div class="space-y-6">
            <div class="space-y-2">
              <h5 class="text-2xl font-semibold text-gray-800">{{car.title}}</h5>
              <p class="text-xl text-gray-600">{{ car.price | thousandSeparator }} {{ car.currency }}</p>
            </div>
            <div class="space-y-2">
              <div class="flex space-x-5">
                <p class="text-gray-500">{{ car.location }}</p>
                <p class="text-gray-500">{{ car.year }}</p>
              </div>
              <p class="text-gray-500">{{ car.owner.username }}</p>
            </div>
          </div>
          <div class="absolute bottom-0 right-0 p-2">
            <button class="py-2 px-4 text-gray-500 hover:text-sky-700 transition-colors rounded-lg">
              <i class="fas fa-chevron-down"></i>
            </button>
            <button (click)="openViewModal($event, car)"
              class="py-2 px-4 text-gray-500 hover:text-sky-700 transition-colors rounded-lg">
              <i class="fas fa-eye"></i>
            </button>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="relative flex mt-10 lg:px-0 sm:px-6 px-4">
    <div class="w-11/12 flex mr-20 justify-between">
      <button (click)="prevPage()" [class.disabled]="currentPage === 0"
        class="flex items-center p-2 hover:bg-gray-200 transition-colors rounded-lg text-gray-600 hover:text-sky-700 cursor-pointer">
        <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.1665 4H12.8332" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M1.1665 4L4.49984 7.33333" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M1.1665 4.00002L4.49984 0.666687" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
        <p class=" ml-3 font-medium leading-none ">Previous</p>
      </button>
      <button class="sm:flex hidden">
        <button *ngFor="let pageNumber of [].constructor(totalPageCount); let i = index" (click)="changePage(i)"
          [class]="currentPage === i ? 'text-sky-700 border-sky-400' : 'text-gray-600 hover:text-sky-700  border-transparent hover:border-sky-400'"
          class="font-medium leading-none cursor-pointer p-3 m-1 px-2 hover:bg-gray-200 transition-colors rounded-lg w-10">
          {{ i + 1 }}
        </button>
      </button>
      <button (click)="nextPage()" [class.disabled]="currentPage >= totalPageCount - 1"
        class="flex items-center p-2 hover:bg-gray-200 transition-colors rounded-lg text-gray-600 hover:text-sky-700 cursor-pointer">
        <p class="font-medium leading-none mr-3">Next</p>
        <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.1665 4H12.8332" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M9.5 7.33333L12.8333 4" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M9.5 0.666687L12.8333 4.00002" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </button>
    </div>
    <div class="w-1/12 flex items-center">
      <div class="font-medium flex bg-gray-100 rounded-lg">
        <button (click)="togglePageSize(15)"
          [class]="pageSize === 15 ? 'bg-sky-700 text-white' : 'text-gray-600 hover:text-sky-700 hover:bg-gray-200'"
          class="block px-4 py-2 active:bg-blue-100 cursor-pointer transition-colors rounded-l-lg">15</button>
        <button (click)="togglePageSize(30)"
          [class]="pageSize === 30 ? 'bg-sky-700 text-white' : 'text-gray-600 hover:text-sky-700 hover:bg-gray-200'"
          class="block px-4 py-2 active:bg-blue-100 cursor-pointer transition-colors">30</button>
        <button (click)="togglePageSize(60)"
          [class]="pageSize === 60 ? 'bg-sky-700 text-white' : 'text-gray-600 hover:text-sky-700 hover:bg-gray-200'"
          class="block px-4 py-2 active:bg-blue-100 cursor-pointer transition-colors rounded-r-lg">60</button>
      </div>
    </div>
  </div>

  <div *ngIf="isViewModalVisible" (click)="closeViewModal()"
    class="fixed inset-0 bg-gray-400 backdrop-blur-lg bg-opacity-50 h-full w-full flex items-center justify-center"
    id="my-modal">
    <div (click)="$event.stopPropagation()"
      class="p-5 border w-7/12 shadow-lg rounded-xl space-y-6 bg-white bg-opacity-75 backdrop-blur-lg">
      <div class="flex space-x-8">
        <div class="h-52 bg-sky-600 rounded-lg w-4/12">
          <img src="" alt="">
          <button (click)="handleBookmarkClick(car)"
            class="relative -top-1 left-10 text-4xl hover:text-sky-600 text-gray-800 transition-colors rounded-lg">
            <i class="fas fa-bookmark"></i>
          </button>
        </div>
        <div class="flex flex-col justify-between  w-8/12">
          <button (click)="closeViewModal()"
            class="absolute -top-2 right-0 mt-4 mr-4 text-gray-500 hover:text-sky-700 transition-colors">
            <i class="fas fa-times text-xl"></i>
          </button>
          <div class="space-y-3">
            <h1 class="font-semibold text-4xl text-gray-800">{{selectedCar?.title}}</h1>
            <h2 class="font-normal text-2xl text-gray-600">{{selectedCar?.price ?? 0 | thousandSeparator}}
              {{selectedCar?.currency}}</h2>
          </div>
          <div class="flex items-center space-x-10">
            <div class="flex space-x-2 items-center">
              <div class="rounded-full overflow-hidden bg-gray-500 h-7 w-7">
                <img src="" alt="" class="">
              </div>
              <p class="text-gray-800">{{selectedCar?.owner?.username}}</p>
            </div>
            <div class="flex items-center">
              <i class="fa fa-location-dot text-2xl text-gray-500 px-2"></i>
              <p class="text-gray-800 items-center">{{selectedCar?.location}}</p>
            </div>
            <div class="flex items-center">
              <i class="fa fa-calendar text-2xl text-gray-500 px-2"></i>
              <p class="text-gray-800 items-center">{{selectedCar?.year}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-start space-x-6">
        <p class="py-2 px-3 bg-gray-300 text-gray-700 rounded-3xl flex items-center">{{selectedCar?.horsepower ?? 0 | thousandSeparator }}
          hp <i class="fa fa-car px-1 text-gray-600"></i></p>
        <p class="py-2 px-3 bg-gray-300 text-gray-700 rounded-3xl flex items-center">{{selectedCar?.fuel}} <i
            class="fa fa-car px-1 text-gray-600"></i></p>
        <p class="py-2 px-3 bg-gray-300 text-gray-700 rounded-3xl flex items-center">{{selectedCar?.gearbox}} <i
            class="fa fa-car px-1 text-gray-600"></i></p>
        <p class="py-2 px-3 bg-gray-300 text-gray-700 rounded-3xl flex items-center">{{selectedCar?.type}} <i
            class="fa fa-car px-1 text-gray-600"></i></p>
        <p class="py-2 px-3 bg-gray-300 text-gray-700 rounded-3xl flex items-center">{{selectedCar?.distance ?? 0 | roundToThousandth}} km
          <i class="fa fa-car px-1 text-gray-600"></i>
        </p>
        <p class="py-2 px-3 bg-gray-300 text-gray-700 rounded-3xl flex items-center">{{selectedCar?.seats}} seats <i
            class="fa fa-car px-1 text-gray-600"></i></p>
        <p class="py-2 px-3 bg-gray-300 text-gray-700 rounded-3xl flex items-center">{{selectedCar?.doors}} doors <i
            class="fa fa-car px-1 text-gray-600"></i></p>
      </div>
      <div *ngIf="selectedCar?.description" class="description text-gray-700 text-xl">
        {{selectedCar?.description}}
      </div>
      <div class="flex justify-between space-x-3 items-center">
        <div class="flex space-x-4">
          <div>
            <p class="text-gray-500">{{selectedCar?.views}} views</p>
          </div>
          <div>
            <p class="text-gray-500">{{selectedCar?.saves}} saves</p>
          </div>
        </div>
        <button [routerLink]="['/car', selectedCar?.id]" class="rounded-md bg-sky-600 hover:bg-sky-700 px-3 py-2 text-white">
          More info
          <i class="fa fa-circle-info text-white px-2"></i>
        </button>
      </div>
    </div>
  </div>
</div>