<div class="flex items-center justify-center p-10">
  <div class="bg-white shadow-lg overflow-hidden w-full rounded-lg">
    <div class="bg-sky-600 p-6">
      <h2 class="card-title text-white text-2xl font-bold">Basic Information</h2>
    </div>
    <div class="card-content p-6">
      <form [formGroup]="carForm" class="grid gap-4" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-2 gap-4">
          <div class="space-y-2">
            <label for="brand" class="label text-gray-700">Brand</label>
            <div>
              <select id="brand" formControlName="brand"
                class="border-2 rounded-lg text-gray-800 h-10 border-gray-300 w-56">
                <option value="BMW">BMW</option>
                <option value="Mercedes">Mercedes</option>
                <option value="Audi">Audi</option>
                <option value="Tesla">Tesla</option>
              </select>
            </div>
          </div>
          <div class="space-y-2">
            <label for="model" class="label text-gray-700">Model</label>
            <div>
              <select id="model" formControlName="model"
                class="border-2 rounded-lg text-gray-800 h-10 border-gray-300 w-56">
                <option value="X5">X5</option>
                <option value="C-Class">C-Class</option>
                <option value="A4">A4</option>
                <option value="Model 3">Model 3</option>
              </select>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div class="space-y-2">
            <label for="year" class="label text-gray-700">Year</label>
            <div>
              <input type="number" formControlName="year"
                class="border-2 rounded-lg text-gray-800 h-10 border-gray-300 p-2 w-56" placeholder="2002">
            </div>
          </div>
          <div class="space-y-2">
            <label for="gearbox" class="label text-gray-700">Gearbox</label>
            <div>
              <select id="gearbox" formControlName="gearbox"
                class="border-2 rounded-lg text-gray-800 h-10 border-gray-300 w-56">
                <option value="Manual">Manual</option>
                <option value="Automatic">Automatic</option>
              </select>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div class="space-y-2">
            <label for="color" class="label text-gray-700">Color</label>
            <div>
              <input type="text" formControlName="color"
                class="border-2 rounded-lg text-gray-800 h-10 border-gray-300 p-2 w-56" placeholder="Red">
            </div>
          </div>
          <div class="space-y-2">
            <label for="seats" class="label text-gray-700">Seats</label>
            <div>
              <input type="number" formControlName="seats"
                class="border-2 rounded-lg text-gray-800 h-10 border-gray-300 p-2 w-56" placeholder="5">
            </div>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div class="space-y-2">
            <label for="doors" class="label text-gray-700">Doors</label>
            <div>
              <input type="number" formControlName="doors"
                class="border-2 rounded-lg text-gray-800 h-10 border-gray-300 p-2 w-56" placeholder="4">
            </div>
          </div>
          <div class="space-y-2">
            <label for="horsepower" class="label text-gray-700">Horsepower</label>
            <div>
              <input type="number" formControlName="horsepower"
                class="border-2 rounded-lg text-gray-800 h-10 border-gray-300 p-2 w-56" placeholder="200">
            </div>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div class="space-y-2">
            <label for="distance" class="label text-gray-700">Distance</label>
            <div>
              <input type="number" formControlName="distance"
                class="border-2 rounded-lg text-gray-800 h-10 border-gray-300 p-2 w-56" placeholder="50000">
            </div>
          </div>
          <div class="space-y-2">
            <label for="fuel" class="label text-gray-700">Fuel</label>
            <div>
              <input type="text" formControlName="fuel"
                class="border-2 rounded-lg text-gray-800 h-10 border-gray-300 p-2 w-56" placeholder="V6">
            </div>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div class="space-y-2">
            <label for="price" class="label text-gray-700">Price</label>
            <div>
              <input type="number" formControlName="price"
                class="border-2 rounded-lg text-gray-800 h-10 border-gray-300 p-2 w-56" placeholder="30000">
            </div>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div class="space-y-2">
            <label for="type" class="label text-gray-700">Type</label>
            <div>
              <input type="text" formControlName="type"
                class="border-2 rounded-lg text-gray-800 h-10 border-gray-300 p-2 w-56" placeholder="Sedan">
            </div>
          </div>
          <div class="space-y-2">
            <label for="location" class="label text-gray-700">Location</label>
            <div>
              <input type="text" formControlName="location"
                class="border-2 rounded-lg text-gray-800 h-10 border-gray-300 p-2 w-56" placeholder="City">
            </div>
          </div>
        </div>
        <button type="submit"
          class="button bg-indigo-500 hover:bg-indigo-600 text-white w-full py-2 rounded">Publish</button>
      </form>
    </div>
  </div>
</div>