<div class="flex items-center justify-center p-10">
  <div class="bg-white shadow-lg overflow-hidden w-full max-w-4xl rounded-lg">
    <div class="bg-sky-600 p-6">
      <h2 class="card-title text-white text-2xl font-bold">Car Details</h2>
    </div>
    <div class="card-content p-6">
      <form [formGroup]="carForm" class="grid gap-4" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <!-- Brand -->
          <div class="space-y-2">
            <label for="brand" class="label text-gray-700">Brand</label>
            <div>
              <select id="brand" formControlName="brand"
              class="border-2 rounded-lg text-gray-800 h-10 border-gray-300 w-full px-3">
                <option value="BMW">BMW</option>
                <option value="Mercedes">Mercedes</option>
                <option value="Audi">Audi</option>
                <option value="Tesla">Tesla</option>
                <option value="Volkswagen">Volkswagen</option>
                <option value="Seat">Seat</option>
                <option value="Renault">Renault</option>
                <option value="Peugeot">Peugeot</option>
              </select>
            </div>
          </div>
          
          <!-- Model -->
          <div class="space-y-2">
            <label for="model" class="label text-gray-700">Model</label>
            <select id="model" formControlName="model"
              class="border-2 rounded-lg text-gray-800 h-10 border-gray-300 w-full px-3">
              <!-- your options here -->
              <option value="e46">e46</option>
              <option value="e90">e90</option>
              <option value="e60">e60</option>
              <option value="e39">e39</option>
              <option value="e36">e36</option>
              <option value="e30">e30</option>
              <option value="e34">e34</option>
            </select>
          </div>
          
          <!-- Year -->
          <div class="space-y-2">
            <label for="year" class="label text-gray-700">Year</label>
            <input type="number" id="year" formControlName="year"
              class="border-2 rounded-lg text-gray-800 h-10 border-gray-300 w-full px-3" placeholder="2002">
          </div>
          
          <!-- Gearbox -->
          <div class="space-y-2">
            <label for="gearbox" class="label text-gray-700">Gearbox</label>
            <select id="gearbox" formControlName="gearbox"
              class="border-2 rounded-lg text-gray-800 h-10 border-gray-300 w-full px-3">
              <option value="Manual">Manual</option>
              <option value="Automatic">Automatic</option>
            </select>
          </div>
          
          <!-- Color -->
          <div class="space-y-2">
            <label for="color" class="label text-gray-700">Color</label>
            <input type="text" id="color" formControlName="color"
              class="border-2 rounded-lg text-gray-800 h-10 border-gray-300 w-full px-3" placeholder="Red">
          </div>
          
          <!-- Seats -->
          <div class="space-y-2">
            <label for="seats" class="label text-gray-700">Seats</label>
            <input type="number" id="seats" formControlName="seats"
              class="border-2 rounded-lg text-gray-800 h-10 border-gray-300 w-full px-3" placeholder="5">
          </div>
          
          <!-- Doors -->
          <div class="space-y-2">
            <label for="doors" class="label text-gray-700">Doors</label>
            <input type="number" id="doors" formControlName="doors"
              class="border-2 rounded-lg text-gray-800 h-10 border-gray-300 w-full px-3" placeholder="4">
          </div>
          
          <!-- Horsepower -->
          <div class="space-y-2">
            <label for="horsepower" class="label text-gray-700">Horsepower</label>
            <input type="number" id="horsepower" formControlName="horsepower"
              class="border-2 rounded-lg text-gray-800 h-10 border-gray-300 w-full px-3" placeholder="200">
          </div>
          
          <!-- Distance -->
          <div class="space-y-2">
            <label for="distance" class="label text-gray-700">Distance</label>
            <input type="number" id="distance" formControlName="distance"
              class="border-2 rounded-lg text-gray-800 h-10 border-gray-300 w-full px-3" placeholder="50000">
          </div>
          
          <!-- Fuel -->
          <div class="space-y-2">
            <label for="fuel" class="label text-gray-700">Fuel</label>
            <input type="text" id="fuel" formControlName="fuel"
              class="border-2 rounded-lg text-gray-800 h-10 border-gray-300 w-full px-3" placeholder="V6">
          </div>
          
          <!-- Price -->
          <div class="space-y-2">
            <label for="price" class="label text-gray-700">Price</label>
            <input type="number" id="price" formControlName="price"
              class="border-2 rounded-lg text-gray-800 h-10 border-gray-300 w-full px-3" placeholder="30000">
          </div>
          
          <!-- Type -->
          <div class="space-y-2">
            <label for="type" class="label text-gray-700">Type</label>
            <input type="text" id="type" formControlName="type"
              class="border-2 rounded-lg text-gray-800 h-10 border-gray-300 w-full px-3" placeholder="Sedan">
          </div>
          
          <!-- Location -->
          <div class="space-y-2">
            <label for="location" class="label text-gray-700">Location</label>
            <input type="text" id="location" formControlName="location"
              class="border-2 rounded-lg text-gray-800 h-10 border-gray-300 w-full px-3" placeholder="City">
          </div>

          <div class="space-y-2">
            <label for="boughtIn" class="label text-gray-700">Bought in:</label>
            <input type="text" id="boughtIn" formControlName="boughtIn"
              class="border-2 rounded-lg text-gray-800 h-10 border-gray-300 w-full px-3" placeholder="España">
          </div>

          <div class="space-y-2">
            <label for="currency" class="label text-gray-700">Currency:</label>
            <input type="text" id="currency" formControlName="currency"
              class="border-2 rounded-lg text-gray-800 h-10 border-gray-300 w-full px-3" placeholder="€">
          </div>
        </div>

        <div class="mt-4">
          <button type="submit"
            class="button bg-indigo-500 hover:bg-indigo-600 text-white w-full py-2 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110">Publish</button>
        </div>
      </form>
    </div>
  </div>
</div>
