.rounded-scrollbar::-webkit-scrollbar {
  height: 7px;
  /* Hace el scrollbar más fino */
}

.rounded-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  /* Bordes redondeados para el track */
}

.rounded-scrollbar::-webkit-scrollbar-thumb {
  background: #0EA5E9;
  border-radius: 10px;
  /* Bordes redondeados para el thumb */
}

.rounded-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #0284C7;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}

.red-icon {
  fill: red;
  stroke: rgb(224, 0, 0);
}

.default-icon {
  fill: #4B5563;
  stroke: #374151;
}