<nav class="bg-gray-700 top-0 backdrop-blur-sm bg-opacity-90 flex justify-between items-center h-16 sticky z-10">
  <div class="logo-container flex items-center ml-10">
    <i class="fas fa-cog text-white text-2xl mr-2"></i>
    <a routerLink="/" class="text-white font-bold text-3xl">
      AllMotors
    </a>
  </div>
  <div class="flex h-full items-center space-x-12 mr-10">
    <button *ngIf="strUserName" class="items-center text-white">
      <i class="fas fa-comment text-xl"></i>
    </button>
    <button *ngIf="strUserName" class="flex h-11 items-center text-white">
      <i class="fas fa-bookmark text-xl"></i>
    </button>
    <button *ngIf="strUserName" (click)="toggleDropdown()" #dropdownButton class="flex items-center h-full text-white relative">
      <span class="mr-2">{{ strUserName }}</span>
      <div class="rounded-full overflow-hidden bg-white h-8 w-8">
        <img src="" alt="" class="">
      </div>

      <div *ngIf="showDropdown" #dropdownButton
        class="absolute right-0 top-full bg-gray-100 bg-opacity-70 backdrop-blur-lg rounded-b-lg shadow-sm">
        <button class="flex items-start hover:bg-gray-200 hover:bg-opacity-40 text-gray-600 w-full py-2 px-6">
          Configuration
        </button>
        <button class="flex items-start hover:bg-gray-200 hover:bg-opacity-40  w-full text-gray-600 py-2 px-6">
          Profile
        </button>
        <button (click)="logout()" class="flex items-start hover:bg-gray-200 hover:bg-opacity-40 w-full rounded-b-lg text-gray-600 py-2 px-6">
          Logout
        </button>
      </div>
    </button>


    <button *ngIf="strUserName" class="h-11 flex items-center bg-sky-600 hover:bg-sky-700 transition-colors text-white px-6 py-2 rounded-lg" routerLink="/upload">
      <span class="mr-2">Publish</span>
      <i class="fas fa-upload"></i>
    </button>
    <button routerLink="/login" *ngIf="!strUserName" class="flex items-center hover:bg-sky-700 transition-colors   bg-sky-600 text-white px-6 py-2 rounded-lg">
      <span class="mr-2">Login</span>
    </button>
  </div>
</nav>