<nav [ngClass]="{'h-fit': showMenu, 'h-16': !showMenu}"
  class="fixed inset-0 bg-gray-800 transition-transform duration-500 top-0 backdrop-blur-md bg-opacity-50 block sm:flex justify-between items-center z-50 sm:px-10">
  <div class="logo-container flex items-center self-center justify-between h-16 px-6 sm:px-0 overflow-y-hidden">
    <a (click)="goToHome()" class="flex text-white font-bold text-2xl sm:text-3xl focus:outline-none cursor-pointer">
      <i class="fas fa-cog text-white text-xl sm:text-2xl self-center mr-1"></i>
      AllMotors
    </a>
    <button (click)="toggleMenu()" #menuButton class="text-white focus:outline-none block sm:hidden">
      <i class="fas fa-bars text-xl"></i>
    </button>
  </div>

  <div [ngClass]="{'opacity-0 duration-75': !showMenu, 'opacity-100 duration-500': showMenu}"
    class="inset-0 transition-opacity top-16 block sm:hidden right-0 left-0">
    <button *ngIf="strUserName" (click)="showMenu = false"
      class="flex items-start hover:bg-gray-500 focus:bg-gray-500 hover:bg-opacity-40 focus:bg-opacity-40 focus:outline-none transition-all text-white w-full py-2 px-6">
      Messages
    </button>
    <button *ngIf="strUserName" (click)="showMenu = false"
      class="flex items-start hover:bg-gray-500 focus:bg-gray-500 hover:bg-opacity-40 focus:bg-opacity-40focus:outline-none transition-all text-white w-full py-2 px-6">
      Saved
    </button>
    <button *ngIf="strUserName" [ngClass]="{'h-[10em]': showAccountDropdown, 'h-10': !showAccountDropdown}"
      (click)="toggleAccountDropdown()"
      class="flex overflow-y-hidden self-center hover:bg-gray-500 hover:bg-opacity-40 focus:bg-opacity-40 focus:outline-none transition-all text-white w-full">

      <div class="flex flex-col w-full">
        <div class="flex w-full px-6">
          <p class="py-2">My Account</p>
          <i [ngClass]="{'rotate-0': !showAccountDropdown, 'rotate-180': showAccountDropdown}"
            class="fas fa-chevron-down self-center text-xs px-2 transition-transform"></i>
        </div>
        <div
          [ngClass]="{'opacity-0 duration-75': !showAccountDropdown, 'opacity-100 duration-1000': showAccountDropdown}"
          class="self-start w-full transition-opacity">
          <button (click)="showMenu = false"
            class="flex items-start hover:bg-gray-500 focus:bg-gray-500 hover:bg-opacity-40 focus:bg-opacity-40 focus:outline-none transition-all text-gray-100 w-full py-2 px-8">
            Configuration
          </button>
          <button (click)="showMenu = false"
            class="flex items-start hover:bg-gray-500 focus:bg-gray-500 hover:bg-opacity-40 focus:bg-opacity-40 focus:outline-none transition-all text-gray-100 w-full py-2 px-8">
            Profile
          </button>
          <button (click)="logout()"
            class="flex items-start hover:bg-gray-500 focus:bg-gray-500 hover:bg-opacity-40 focus:bg-opacity-40 focus:outline-none transition-all text-gray-100 w-full py-2 px-8">
            Logout
          </button>
        </div>
      </div>
    </button>
    <button *ngIf="strUserName" routerLink="/upload" (click)="showMenu = false"
      class="flex items-start bg-sky-600 hover:bg-sky-500 focus:bg-sky-500 bg-opacity-50 hover:bg-opacity-40 focus:bg-opacity-40 focus:outline-none transition-all text-white w-full py-2 px-6">
      Publish
    </button>
    <button *ngIf="!strUserName" routerLink="/login" (click)="showMenu = false"
      class="flex items-start bg-sky-600 hover:bg-sky-500 focus:bg-sky-500 bg-opacity-50 hover:bg-opacity-40 focus:bg-opacity-40 focus:outline-none transition-all text-white w-full py-2 px-6">
      Login
    </button>
  </div>

  <div class="hidden sm:flex h-full items-center space-x-10">
    <button *ngIf="strUserName" class="items-center text-white focus:outline-none">
      <i class="fas fa-comment text-xl"></i>
    </button>
    <button *ngIf="strUserName" class="flex h-11 items-center text-white focus:outline-none">
      <i class="fas fa-bookmark text-xl"></i>
    </button>
    <button *ngIf="strUserName" (click)="toggleDropdown()" #dropdownButton
      class="flex items-center h-full text-white relative focus:outline-none">
      <span class="mr-2">{{ strUserName }}</span>
      <div class="rounded-full overflow-hidden bg-white h-8 w-8">
        <img src="" alt="" class="">
      </div>
    </button>


    <button *ngIf="strUserName"
      class="h-11 flex items-center bg-sky-600 hover:bg-sky-700 transition-colors focus:outline-none focus:bg-sky-700 text-white px-6 py-2 rounded-md"
      routerLink="/upload">
      <span class="mr-2">Publish</span>
      <i class="fas fa-upload"></i>
    </button>
    <button routerLink="/login" *ngIf="!strUserName"
      class="flex items-center hover:bg-sky-700 transition-colors focus:outline-none focus:bg-sky-700 bg-sky-600 text-white px-6 py-2 rounded-md">
      <span class="mr-2">Login</span>
    </button>
  </div>
</nav>

<div *ngIf="showDropdown" #dropdownButton
  class="fixed hidden sm:block right-48 top-16 bg-gray-100 bg-opacity-50 backdrop-blur-md rounded-b-lg shadow-sm z-50">
  <button
    class="flex items-start hover:bg-gray-200 hover:bg-opacity-40 focus:outline-none focus:bg-gray-200 focus:bg-opacity-40 focus:backdrop-blur-lg transition-all text-gray-700 hover:text-gray-800 focus:text-gray-800 w-full py-2 px-6">
    Configuration
  </button>
  <button
    class="flex items-start hover:bg-gray-200 hover:bg-opacity-40 focus:outline-none focus:bg-gray-200 focus:bg-opacity-40 focus:backdrop-blur-lg transition-all text-gray-700 hover:text-gray-800 focus:text-gray-800 w-full py-2 px-6">
    Profile
  </button>
  <button (click)="logout()" (click)="showDropdown = false"
    class="flex items-start hover:bg-gray-200 hover:bg-opacity-40 focus:outline-none focus:bg-gray-200 focus:bg-opacity-40 focus:backdrop-blur-lg transition-all text-gray-700 hover:text-gray-800 focus:text-gray-800 w-full py-2 px-6 rounded-b-lg">
    Logout
  </button>
</div>