<div *ngIf="chat.memberOne === undefined" class="w-full h-full">

</div>
<div *ngIf="chat.memberOne !== undefined" class="h-full flex w-[200%] bg-cover bg-center" [ngStyle]="{'background-image': selectedBackgroundImage}" loading="lazy">
    <div class="flex w-full h-full transition-all overflow-hidden scroll-hide" id="UserChatContainer">
        <div class="flex flex-col w-full h-full bg-cover bg-center" [ngStyle]="{'background-image': selectedBackgroundImage}" loading="lazy">
            <div class="w-full h-[9.5rem] pt-16 bg-gray-50 bg-opacity-[0.63] overflow-hidden backdrop-blur-lg px-4 items-center">
                <div class="w-full h-full flex items-center">
                    <div class="flex items-center gap-4 overflow-hidden w-full">
                        <div class="flex w-fit gap-2 items-center justify-start">
                            <button (click)="moveToChatList()"
                                class="flex sm:hidden text-xl text-gray-700 pr-3 focus:outline-none">
                                <i class="fa fa-arrow-left"></i>
                            </button>
                            <div
                                class="rounded-full flex overflow-hidden bg-gray-500 flex-shrink-0 h-full w-10 aspect-square">
                                <!-- Imagen del receptor del chat -->
                                <img *ngIf="receiver.profilePicture" [src]="urlImage + receiver.profilePicture"
                                    alt="chat receiver image" [ngClass]="{'w-1/2': chat.car, 'w-full': !chat.car}"
                                    class="flex h-full object-cover items-center justify-center">

                                <!-- Iniciales del receptor del chat si no hay imagen -->
                                <div *ngIf="!receiver.profilePicture"
                                    [ngClass]="{'w-1/2': chat.car, 'w-full': !chat.car}"
                                    class="flex w-full h-full justify-center items-center text-xs text-white bg-sky-600">
                                    {{ getUserInitials(receiver) }}
                                </div>

                                <!-- Imagen del coche del chat -->
                                <img *ngIf="chat.car" [src]="urlImage + chat.car.images[0].imageUrl"
                                    alt="chat car image"
                                    class="flex h-full object-cover w-1/2 items-center justify-center">
                            </div>
                        </div>
                        <div class="flex w-full justify-between gap-2">
                            <div class="flex gap-3 items-center w-full overflow-hidden">
                                <div class="flex flex-col justify-between overflow-hidden w-[75%]">
                                    <div
                                        class="flex items-end gap-1 text-gray-800 text-sm text-left align-top w-full overflow-hidden whitespace-nowrap">
                                        <div *ngIf="chat.car"
                                            class="min-w-0 w-full overflow-hidden overflow-ellipsis flex-shrink">{{
                                            chat.car.title
                                            }}</div>
                                        <div *ngIf="!chat.car"
                                            class="min-w-0 overflow-hidden overflow-ellipsis flex-shrink">
                                            {{ receiver.username }}</div>
                                    </div>
                                    <p class="italic text-xs overflow-hidden w-full text-gray-600">{{ receiver.status ?
                                        'Online' : 'Offline' }}</p>
                                </div>
                            </div>
                            <button class="w-fit flex flex-shrink-0 gap-2 justify-end items-center"
                                (click)="moveToOptions()">
                                <p class="hidden sm:flex">Options</p>
                                <i class="fa fa-ellipsis-vertical"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full h-full flex flex-col p-3 px-4 overflow-y-auto scroll-chat" #messageContainer id="messageContainer">
                <div *ngFor="let message of messages; let i = index" class="w-full flex flex-col py-1">
                    <ng-container *ngIf="shouldShowDate(i)">
                        <div class="text-center w-full my-2 text-gray-700 flex justify-center">
                            <p class="py-1 px-4 w-fit text-sm bg-gray-50 backdrop-blur-sm rounded-2xl bg-opacity-55">{{
                                messages[i].sentTime | date:'fullDate' }}</p>
                        </div>
                    </ng-container>
                    <div [ngClass]="{
                                'bg-sky-500 text-white self-end': message.sender.id === currentUser.id,
                                'bg-white self-start': message.sender.id !== currentUser.id,
                                'rounded-tr-none': (i !== 0 && messages[i].sender.id !== messages[i - 1].sender.id && message.sender.id === currentUser.id) || (i === 0 && message.sender.id === currentUser.id),
                                'rounded-tl-none': (i !== 0 && messages[i].sender.id !== messages[i - 1].sender.id && message.sender.id !== currentUser.id) || (i === 0 && message.sender.id !== currentUser.id)
                              }" (dblclick)="likeMessage(message)"
                        class="bg-opacity-95 rounded-lg p-1 px-3 w-auto flex flex-col relative items-end max-w-[60%] shadow-md">
                        <span class="text-[15px] relative min-w-full justify-between">
                            <ng-container *ngFor="let line of message.content.split('\n'); let isLast=last">
                                <span *ngFor="let word of line.split(' ')" class="w-full inline select-none"
                                    [ngClass]="{'break-all': word.length > maxWidth}">
                                    {{word}}
                                </span>
                                <ng-container *ngIf="!isLast">
                                    <br>
                                </ng-container>
                            </ng-container>
                            <span class="inline-block select-none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <span
                                class="text-[9px] absolute right-0 bottom-[2px] text-end self-end select-none">{{message.sentTime
                                | timeOnly}}</span>
                        </span>

                        <i [ngClass]="{'scale-0': !message.liked, 'scale-110': message.liked, '-left-6': message.sender.id === currentUser.id, '-right-6': message.sender.id !== currentUser.id}"
                            class="fa fa-heart absolute transition-all py-[3px] duration-300 text-red-500"></i>
                        <div *ngIf="messages[i].read && i === messages.length - 1 && message.sender.id === currentUser.id"
                            class="absolute items-center text-[12px] flex -bottom-5 right-1 gap-2">
                            <i class="fa fa-eye"></i>
                            <p>Seen</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="h-16 w-full flex px-4">
                <textarea type="text" name="message" id="message" placeholder="Type a message..." autocomplete="off"
                    [(ngModel)]="messageContent" (keypress)="handleKey($event)"
                    class="w-full items-center resize-none m-3 placeholder:italic placeholder:text-sm py-2 flex text rounded-xl sm:rounded-md px-3 bg-white max-h-full h-10 focus:outline-none bg-opacity-80 backdrop-blur-md scroll-hide"></textarea>

                <button (click)="sendMessage()"
                    class="bg-sky-600 m-3 py-2 h-10 rounded-full sm:rounded-md items-center flex gap-2 text-white px-4 hover:bg-sky-700 transition-all duration-300">
                    <p class="hidden sm:flex">Send</p>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-send-2" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M4.698 4.034l16.302 7.966l-16.302 7.966a.503 .503 0 0 1 -.546 -.124a.555 .555 0 0 1 -.12 -.568l2.468 -7.274l-2.468 -7.274a.555 .555 0 0 1 .12 -.568a.503 .503 0 0 1 .546 -.124z" />
                        <path d="M6.5 12h14.5" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="flex flex-col bg-gray-50 bg-opacity-[0.63] pt-16 backdrop-blur-lg w-full gap-5" >
            <div class=" h-16 flex justify-start items-center ">
                <button class="px-4 gap-2 flex items-center" (click)="moveToChat()">
                    <i class="fa fa-arrow-left"></i>
                    <p class="">Go back</p>
                </button>
            </div>
            <div class="flex flex-col lg:flex-row w-full gap-10 lg:gap-0 2xl:px-5 h-full">
                <div class="flex flex-col gap-5 w-full lg:w-fit px-4">
                    <div class="flex flex-col gap-4">
                        <div class="flex lg:flex-col gap-4 lg:gap-2">
                            <div [routerLink]="['/user/', receiver.id]"
                                class="rounded-lg overflow-hidden bg-gray-500 h-44 md:h-32 lg:h-40 2xl:h-72 w-44 md:w-32 lg:w-40 2xl:w-72 aspect-square cursor-pointer transition-all hover:shadow-lg">
                                <img *ngIf="receiver.profilePicture" [src]="urlImage + receiver.profilePicture"
                                    alt="chat receiver image" class="h-full w-full object-cover">
                                <div *ngIf="!receiver.profilePicture"
                                    class="flex w-full h-full justify-center items-center text-xs text-white bg-sky-600">
                                    {{ getUserInitials(receiver) }}
                                </div>
                            </div>
                            <div class="flex flex-col justify-start items-start gap-2">
                                <p class="text-gray-800 text-lg">{{ receiver.name }} {{receiver.lastname}}</p>
                                <p class="text-gray-800">@{{ receiver.username }}</p>
                                <div class="flex gap-1 text-sm text-gray-700 items-center">
                                    <i class="fa fa-phone text-xs"></i>
                                    <p>{{ receiver.phone }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="chat.car" class="flex flex-col gap-5 w-full h-full px-4">
                    <div
                        class="carousel-container relative h-2/4 lg:h-40 2xl:h-72 w-full transition-all hover:shadow-lg rounded-lg">
                        <a [routerLink]="['/car/', chat.car?.id]"
                            class="carousel-item h-full w-full focus:outline-none flex">
                            <img *ngIf="chat.car && chat.car.images && chat.car.images.length > imageIndex"
                                class="absolute object-cover w-full h-full rounded-lg"
                                [src]="urlImage + chat.car.images[imageIndex].imageUrl">
                        </a>
                        <button *ngIf="imageIndex > 0"
                            class="absolute focus:outline-none top-1/2 -translate-y-1/2 hover:bg-white hover:bg-opacity-25 hover:backdrop-blur-sm p-3 left-2 rounded-lg text-lg md:text-xl text-white transition-colors hover:text-gray-800"
                            (click)="prevImage()">
                            <i class="fas fa-chevron-left"></i>
                        </button>
                        <div class="flex justify-center w-full absolute bottom-0">
                            <div
                                class="space-x-2 bg-white bg-opacity-20 backdrop-blur-sm py-1 md:py-2 px-3 rounded-t-lg">
                                <button *ngFor="let image of chat.car.images; let i = index"
                                    class="w-3 md:w-5 h-2 rounded-md hover:bg-gray-300 transition-colors cursor-pointer"
                                    [ngClass]="{'bg-gray-700': imageIndex === i, 'bg-gray-100': imageIndex !== i}"
                                    (click)="changePage(i)">
                                </button>
                            </div>
                        </div>

                        <button *ngIf="chat.car && chat.car.images && imageIndex < chat.car.images.length - 1"
                            class="absolute focus:outline-none top-1/2 -translate-y-1/2 hover:bg-white hover:bg-opacity-25 hover:backdrop-blur-sm p-3 right-2 rounded-lg text-lg md:text-xl text-white transition-colors hover:text-gray-800"
                            (click)="nextImage()">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </div>
                    <div class="h-2/4 flex flex-col gap-4">
                        <div class="flex flex-col gap-1 text-gray-800 px-1">
                            <p class="text-lg">{{chat.car.title}}</p>
                            <p>{{chat.car.price | thousandSeparator}} {{chat.car.currency}}</p>
                        </div>
                        <div class="flex gap-2 text-gray-700 px-1 justify-evenly">
                            <div class="flex items-center gap-2 bg-white bg-opacity-50 rounded-full py-1 px-3">
                                <i class="fa fa-calendar-alt"></i>
                                <p>{{ chat.car.year }}</p>
                            </div>
                            <div class="flex items-center gap-2 bg-white bg-opacity-50 rounded-full py-1 px-3">
                                <i class="fa fa-map-marker-alt"></i>
                                <p>{{ chat.car.city }}</p>
                            </div>
                            <div class="flex items-center gap-2 bg-white bg-opacity-50 rounded-full py-1 px-3">
                                <i class="fa fa-palette"></i>
                                <div class="w-10 h-4 rounded-full" [ngStyle]="{'background-color': chat.car.color}">
                                </div>
                            </div>
                            <div
                                class="hidden md:flex items-center gap-2 bg-white bg-opacity-50 rounded-full py-1 px-3">
                                <svg *ngIf="chat.car.gearbox === 'manual'" xmlns="http://www.w3.org/2000/svg"
                                    class="icon icon-tabler icon-tabler-manual-gearbox" width="20" height="20"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M5 6m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                                    <path d="M12 6m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                                    <path d="M19 6m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                                    <path d="M5 18m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                                    <path d="M12 18m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                                    <path d="M5 8l0 8" />
                                    <path d="M12 8l0 8" />
                                    <path d="M19 8v2a2 2 0 0 1 -2 2h-12" />
                                </svg>
                                <svg *ngIf="chat.car.gearbox === 'automatic'" xmlns="http://www.w3.org/2000/svg"
                                    class="icon icon-tabler icon-tabler-automatic-gearbox" width="20" height="20"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M17 17v4h1a2 2 0 1 0 0 -4h-1z" />
                                    <path d="M17 11h1.5a1.5 1.5 0 0 0 0 -3h-1.5v5" />
                                    <path d="M5 5m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                                    <path d="M5 7v3a1 1 0 0 0 1 1h3v7a1 1 0 0 0 1 1h3" />
                                    <path d="M9 11h4" />
                                </svg>
                                <p>{{ chat.car.gearbox | capitalizeFirst}}</p>
                            </div>
                            <div
                                class="hidden lg:flex items-center gap-2 bg-white bg-opacity-50 rounded-full py-1 px-3">
                                <i [ngClass]="{'fa-gas-pump': chat.car.fuel === 'gasoline' || 'diesel', 'fa-bolt': chat.car.fuel === 'electric', 'fa-charging-station': chat.car.fuel === 'hybrid'}"
                                    class="fa"></i>
                                <p>{{ chat.car.fuel | capitalizeFirst}}</p>
                            </div>
                            <div
                                class="hidden xl:flex items-center gap-2 bg-white bg-opacity-50 rounded-full py-1 px-3">
                                <i class="fa fa-door-open"></i>
                                <p>{{ chat.car.doors }} doors</p>
                            </div>
                            <div
                                class="hidden 2xl:flex items-center gap-2 bg-white bg-opacity-50 rounded-full py-1 px-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="#4B5563" stroke="#374151" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-armchair">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path
                                        d="M5 11a2 2 0 0 1 2 2v2h10v-2a2 2 0 1 1 4 0v4a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-4a2 2 0 0 1 2 -2z" />
                                    <path d="M5 11v-5a3 3 0 0 1 3 -3h8a3 3 0 0 1 3 3v5" />
                                    <path d="M6 19v2" />
                                    <path d="M18 19v2" />
                                </svg>
                                <p>{{ chat.car.seats }} seats</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>