.scroll-chat::-webkit-scrollbar {
    height: 7px;
    /* Hace el scrollbar más fino */
    width: 7px;
    /* Hace el scrollbar más fino */

}

.scroll-chat::-webkit-scrollbar-track {
    background: transparent;
    /* Bordes redondeados para el track */
}

.scroll-chat::-webkit-scrollbar-thumb {
    background: #0EA5E9;
    border-radius: 5rem;
    padding: 10px;
}

.scroll-chat::-webkit-scrollbar-thumb:hover {
    background: #0284C7;
}

.autogrow-textarea {
    resize: none;
    overflow: hidden;
    min-height: 40px;
    /* Altura mínima */
    transform-origin: top;
    /* Establece el origen de la transformación en la parte superior */
}

.scroll-hide::-webkit-scrollbar {
    display: none;
}