<!-- chat-list.component.html -->
<div class="flex w-full h-screen bg-cover bg-center" [ngStyle]="{'background-image': selectedBackgroundImage}"
  loading="lazy">
  <div class="lg:w-1/5 h-full bg-transparent bg-gray-50 bg-opacity-50 w-1/3">
    <div class="flex h-full bg-gray-50 bg-opacity-60 backdrop-blur-lg overflow-y-auto chat-scrollbar flex-col pt-16">
      <button *ngFor="let chat of chats; let i = index"
        (click)="checkIfUserIsMember(chat); setBackground(chat); setChat(chat)" [ngClass]="{
          'shadow-md bg-gray-50 bg-opacity-45': selectedChat.id === chat.id,
          'bg-opacity-0 bg-gray-100 hover:bg-opacity-30 hover:bg-gray-50 hover:shadow-sm': selectedChat !== chat
        }" class="p-3 h-16 transition-all items-center duration-300 flex gap-3 focus:outline-none">
        <div class="flex gap-3 h-full w-full overflow-x-hidden">
          <div class="rounded-full overflow-hidden bg-gray-500 h-full min-w-10 aspect-square">
            <ng-container *ngIf="chat.memberTwo.id === currentUser.id; else memberTwoTemplate">
              <img *ngIf="chat.memberOne.profilePicture" [src]="urlImage + chat.memberOne.profilePicture"
                alt="chat memberOne image" class="h-full w-full object-cover">
              <div *ngIf="!chat.memberOne.profilePicture"
                class="flex w-full h-full justify-center items-center text-xs text-white bg-sky-600">
                {{ getUserInitials(chat.memberOne) }}
              </div>
            </ng-container>
            <ng-template #memberTwoTemplate>
              <img *ngIf="chat.memberTwo.profilePicture" [src]="urlImage + chat.memberTwo.profilePicture"
                alt="chat memberTwo image" class="h-full w-full object-cover">
              <div *ngIf="!chat.memberTwo.profilePicture"
                class="flex w-full h-full justify-center items-center text-xs text-white bg-sky-600">
                {{ getUserInitials(chat.memberTwo) }}
              </div>
            </ng-template>
          </div>
          <div class="flex flex-col h-full items-start w-full justify-between overflow-hidden">
            <p *ngIf="!chat.car" class="h-1/2">{{ chat.memberOne.id === currentUser.id ? chat.memberTwo.username :
              chat.memberOne.username }}</p>
            <p *ngIf="chat.car"
              class="flex-shrink-0 text-left h-1/2 align-top overflow-hidden whitespace-nowrap w-[90%] overflow-ellipsis">
              {{ chat.car.title }}</p>
            <p class="text-xs text-gray-800 text-left overflow-hidden">{{ chat.messages[chat.messages.length -
              1].content.length > 12 ? chat.messages[chat.messages.length - 1].content.substring(0, 12) + '...' :
              chat.messages[chat.messages.length - 1].content }}</p>
          </div>
        </div>
      </button>
    </div>
  </div>
  <div class="w-4/5 backdrop-blur-sm bg-cover bg-center" [ngStyle]="{'background-image': backgroundImage}"
    loading="lazy">
    <app-chat [chat]="selectedChat" (chatUpdated)="onChatUpdated()"></app-chat>
  </div>
</div>