<footer class="inset-x-0 bottom-0 bg-sky-700">
  <div class="container flex flex-col gap-2 px-4 py-6 items-center justify-center text-white md:flex-row md:gap-4 lg:gap-6 xl:gap-8 xl:px-6">
    <nav class="flex flex-col gap-2 md:gap-4 lg:gap-6 md:order-1 lg:order-2 justify-center">
      <a class="text-sm hover:text-blue-300 transition-colors"routerLink="/">
        Home
      </a>
      <a class="text-sm hover:text-blue-300 transition-colors" href="#">
        Cars for Sale
      </a>
      <a class="text-sm hover:text-blue-300 transition-colors" href="#">
        Services
      </a>
      <a class="text-sm hover:text-blue-300 transition-colors" href="#">
        About Us
      </a>
      <a class="text-sm hover:text-blue-300 transition-colors" href="#"></a>
    </nav>
  </div>
</footer>