<footer class="bg-sky-700 text-white">
  <div class="w-full mx-auto px-4 py-8 md:flex md:items-center md:justify-around">
    <nav class="flex mt-2 space-x-5">
      <a class="text-sm hover:text-sky-950 transition-colors" href="/">Home</a>
      <a class="text-sm hover:text-sky-950 transition-colors" href="#">Cars for Sale</a>
      <a class="text-sm hover:text-sky-950 transition-colors" href="#">Services</a>
      <a class="text-sm hover:text-sky-950 transition-colors" href="#">About Us</a>
      <a class="text-sm hover:text-sky-950 transition-colors" href="#">Contact Us</a>
    </nav>
    <div class="flex flex-col md:order-2">
    </div>
    <div class="mt-6 md:mt-0 md:order-1">
      <h6 class="font-bold text-lg">About AllMotors</h6>
      <p class="mt-2 text-sm">Our service provide the easiest way to buy or sell cars</p>
    </div>
    <div class="mt-6 md:mt-0 md:order-3">
      <h6 class="font-bold text-lg">Follow Us</h6>
      <div class="flex mt-2 -mx-2">
        <a href="#" class="mx-2 text-sm hover:text-sky-950 transition-colors" aria-label="Facebook">
          <i class="fa fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2 text-sm hover:text-sky-950 transition-colors" aria-label="Twitter">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#" class="mx-2 text-sm hover:text-sky-950 transition-colors" aria-label="Instagram">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="border-t border-sky-600 mt-4 py-4 text-center text-sm mx-20">
    &copy; 2024 AllMotors. All rights reserved.
  </div>
</footer>
