<div class="flex items-center justify-center h-auto bg-cover absolute inset-0"
  [style.background-image]="backgroundImage" loading="lazy">
  <div class="inset-0 backdrop-blur-sm absolute"></div>
  <div class="login-form relative flex pt-16 items-center justify-center w-full h-full">
    <form class="bg-white shadow-md w-[85%] rounded-lg sm:w-1/2 md:w-[40%] lg:w-[40%] xl:w-1/4 lg:h-fit px-8 pt-6 pb-8"
      (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <p class="text-center font-bold text-3xl mb-8">Login</p>
      <div class="flex flex-col gap-5">
        <input
          class="shadow appearance-none border rounded-lg w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline pr-10"
          type="text" id="usernameOrEmail" formControlName="usernameOrEmail" placeholder="Username or email" (focus)="loginError = false" autocomplete="off"
          (input)="getErrorUser('usernameOrEmail')" [ngClass]="{'border-b-red-300 border-b-2': errorUser}">
        <p *ngIf="errorUser" class="text-xs text-red-600 -my-2 mx-1">{{userMessage}}</p>
        <div class="relative">
          <input
            class="shadow appearance-none border rounded-lg w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline pr-10"
            [type]="getPasswordInputType()" id="password" formControlName="password" placeholder="Password" (focus)="loginError = false"
            (input)="getErrorPass('password')" [ngClass]="{'border-b-red-300 border-b-2': errorPass}">
          <button class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-400 hover:text-gray-500 focus:outline-none"
            (click)="togglePasswordVisibility()" type="button">
            <i
              [ngClass]="{'fas': passwordVisible, 'far': !passwordVisible, 'fa-eye': passwordVisible, 'fa-eye-slash': !passwordVisible}"></i>
          </button>
        </div>
        <p *ngIf="errorPass" class="text-xs text-red-600 -my-2 mx-1">{{passMessage}}</p>
        <div class="text-center">
          <a href="#" class="text-blue-500 hover:underline focus:outline-none focus:underline">Forgot password?</a>
        </div>
      </div>
      <div class="space-y-4 mt-4">
        <div>
          <button
            class="bg-sky-500 hover:bg-sky-600 transition-colors text-white w-full py-3 px-4 rounded-lg focus:outline-none focus:bg-sky-600"
            type="submit">Login</button>
          <div class="flex mt-2">
            <button (click)="loginUser()"
              class="bg-sky-500 hover:bg-sky-600 transition-colors text-white w-1/2 py-3 px-4 rounded-lg focus:outline-none focus:bg-sky-600 mr-1"
              type="button">User</button>
            <button (click)="loginAdmin()"
              class="bg-sky-500 hover:bg-sky-600 transition-colors text-white w-1/2 py-3 px-4 rounded-lg focus:outline-none focus:bg-sky-600 ml-1"
              type="button">Admin</button>
          </div>
        </div>
        <div class="text-center">
          <p>Don't have an account? <a routerLink="/signup"
              class="text-blue-500 hover:underline focus:outline-none focus:underline">Signup</a>
          </p>
        </div>
        <div class="flex items-center">
          <hr class="w-1/2 border-t-2 border-gray-200">
          <span class="mx-2 text-gray-400 text-md">OR</span>
          <hr class="w-1/2 border-t-2 border-gray-200">
        </div>

        <div class="gap-4 flex flex-col sm:flex-row xl:flex-col">
          <button
            class="bg-gray-100 transition-all hover:bg-gray-200 focus:outline-none focus:bg-gray-200 text-black w-full py-3 px-4 rounded-lg items-center flex justify-center gap-3">
            <i class="fab fa-google"></i>
            <p class="xl:flex sm:hidden">Login with Google</p>
          </button>
          <button
            class="bg-gray-100 transition-all hover:bg-gray-200 focus:outline-none focus:bg-gray-200 text-black w-full py-3 px-4 rounded-lg items-center flex justify-center gap-3">
            <i class="fab fa-facebook"></i>
            <p class="xl:flex sm:hidden">Login with Facebook</p>
          </button>
          <button
            class="bg-gray-100 transition-all hover:bg-gray-200 focus:outline-none focus:bg-gray-200 text-black w-full py-3 px-4 rounded-lg items-center flex justify-center gap-3">
            <i class="fab fa-microsoft"></i>
            <p class="xl:flex sm:hidden">Login with Microsoft</p>
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- toast login error -->
  <div [ngClass]="{'size-0 -translate-y-96': !loginError, 'size-1 translate-y-0': loginError}" class="absolute transition-all text-black shadow duration-500 top-20 sm:top-24 w-fit h-fit bg-white opacity-60 backdrop-blur-md border-2 border-red-500 px-4 md:px-6 py-2 md:py-4 rounded-lg">
    <p>{{errorMessage}}</p>
  </div>
</div>