<div class="h-[32rem] md:h-[22rem] lg:h-[26rem] relative">
  <img *ngIf="user.profileBackground" src='../../../../../assets/images/image4.webp'
    class="absolute h-full w-full object-cover object-center">
  <div *ngIf="!user.profileBackground" class="absolute h-full w-full bg-cyan-600"></div>
  <div class="gradient-mobile md:hidden object-cover absolute top-0 w-full h-full"></div>
  <div class="gradient-one hidden md:block object-cover absolute top-0 w-full h-full"></div>
  <div
    class="flex flex-col absolute w-full items-center justify-between md:flex-row md:items-start gap-4 lg:gap-8 h-full px-6 md:px-10 pt-24 pb-10">
    <div class="flex h-full flex-col md:flex-row gap-4 lg:gap-8 items-center">
      <div class="h-40 md:h-full flex items-center">
        <span (click)="uploadImage()"
          class="cursor-pointer md:cursor-default relative flex-shrink-0 overflow-hidden rounded-full md:rounded-xl h-full w-full aspect-square">
          <img *ngIf="user.profilePicture" src='../../../../../assets/images/nano.jpg'
            class="flex h-full object-cover w-full">

          <div *ngIf="!user.profilePicture"
            class="flex items-center justify-center text-5xl md:text-8xl xl:text-9xl font-semibold text-white w-40 md:w-full h-40 md:h-full bg-sky-600 border-4 border-black rounded-full md:rounded-xl">
            {{getUserInitials()}}
          </div>
        </span>

        <div [ngClass]="{'bg-green-500': user.status, 'bg-red-500': !user.status}" class="absolute top-[6.75rem] ml-4 md:ml-0 md:top-28 md:left-14 h-5 w-5 rounded-full "></div>
        <button (click)="uploadImage()"
          class="absolute top-[6.25rem] hidden md:block md:top-[6.5rem] md:left-[13rem] lg:left-[17rem] h-10 w-10 rounded-lg text-white hover:text-gray-800 p-2 hover:bg-gray-200 hover:bg-opacity-40 hover:backdrop-blur-md transition-colors">
          <i class="fa fa-pencil text-xl "></i>
        </button>
      </div>
      <div class="h-full gap-4 lg:gap-8 flex flex-col justify-between text-center md:text-left md:w-96">
        <div
          class="flex flex-col space-y-2 md:backdrop-blur-md h-full md:bg-gray-50 md:bg-opacity-50 md:rounded-lg md:py-3 md:px-5 lg:py-4">
          <h1 class="text-2xl lg:text-3xl font-bold">{{user.name}} {{user.lastname}}</h1>
          <p class="text-base lg:text-lg text-gray-800">@{{user.username}}</p>
          <div class="flex justify-center md:justify-start items-center space-x-1 text-sm xl:text-base text-gray-800">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone-filled" width="16"
              height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="#4B5563" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M9 3a1 1 0 0 1 .877 .519l.051 .11l2 5a1 1 0 0 1 -.313 1.16l-.1 .068l-1.674 1.004l.063 .103a10 10 0 0 0 3.132 3.132l.102 .062l1.005 -1.672a1 1 0 0 1 1.113 -.453l.115 .039l5 2a1 1 0 0 1 .622 .807l.007 .121v4c0 1.657 -1.343 3 -3.06 2.998c-8.579 -.521 -15.418 -7.36 -15.94 -15.998a3 3 0 0 1 2.824 -2.995l.176 -.005h4z"
                stroke-width="0" fill="currentColor" />
            </svg>
            <p>{{user.phone}}</p>
          </div>
          <div class="flex items-center justify-center md:justify-start gap-2">
            <div class="flex space-x-1">
              <i *ngIf="averageRating === 0" class="fa fa-star text-sm text-gray-800"></i>
              <i *ngFor="let starIndex of getStarIndexes()" class="fa fa-star text-sm text-gray-800"></i>
              <i *ngIf="averageRating % 1 > 0" class="fa fa-star-half text-sm text-gray-800"></i>
            </div>
            <span class="text-sm text-gray-700">({{ratingCount}})</span>
          </div>
        </div>
        <div class="hidden md:flex gap-1 w-full">
          <button
            class="bg-black hover:bg-gray-900 justify-center focus:bg-gray-900 bg-opacity-80 backdrop-blur-md focus:outline-none rounded-lg w-full text-white py-2 lg:py-3 transition-colors">
            Contact
          </button>
          <button *ngIf="isCurrentUserOwner()"
            class="justify-center text-md font-medium focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50 rounded-lg bg-yellow-500 bg-opacity-80 backdrop-blur-md text-white hover:bg-yellow-500 transition-all h-full w-2/12">
            <i class="fa fa-pencil px-2"></i>
          </button>
          <button *ngIf="isCurrentUserAdmin() && isDifferentUser()"
            class="justify-center text-md font-medium focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50 rounded-lg bg-red-500 bg-opacity-80 backdrop-blur-md text-white hover:bg-red-600 transition-colors h-full w-2/12"
            (click)="openDeleteModal(user.id)">
            <i class="fa fa-trash px-2"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="hidden md:flex flex-col gap-2">
      <button *ngIf="isDifferentUser()"
        class="w-10 h-10 transition-all bg-blue-300 text-blue-200 hover:bg-blue-400 hover:bg-opacity-45 hover:text-blue-50 bg-opacity-40 backdrop-blur-md rounded-lg">
        <i class="fa fa-star"></i>
      </button>
      <button *ngIf="isDifferentUser()"
        class="w-10 h-10 transition-all bg-rose-300 text-rose-200 hover:bg-rose-400 hover:bg-opacity-45 hover:text-rose-50 bg-opacity-40 backdrop-blur-md rounded-lg">
        <i class="fa-solid fa-flag"></i>
      </button>
    </div>
    <div class="flex md:hidden gap-1 w-full">
      <button
        class="flex justify-center bg-black hover:bg-gray-900 focus:bg-gray-900 focus:outline-none rounded-lg w-full text-white py-3 transition-colors">
        Contact
      </button>
      <button *ngIf="isCurrentUserOwner()"
        class="justify-center text-md font-medium focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50 rounded-lg bg-yellow-400 hover:bg-yellow-500 text-white transition-all h-full w-2/12">
        <i class="fa fa-pencil px-2"></i>
      </button>
      <button *ngIf="isCurrentUserAdmin() && isDifferentUser()"
        class="justify-center text-md font-medium focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50 rounded-lg bg-red-500  text-white hover:bg-red-600 transition-colors h-full w-2/12"
        (click)="openDeleteModal(user.id)">
        <i class="fa fa-trash px-2"></i>
      </button>
    </div>
  </div>
  <div class="absolute flex md:hidden flex-col gap-2 right-3 top-[4.75rem]">
    <button *ngIf="isDifferentUser()"
      class="w-10 h-10 transition-all bg-blue-300 text-blue-200 hover:bg-blue-400 hover:bg-opacity-45 hover:text-blue-50 bg-opacity-40 backdrop-blur-md rounded-lg">
      <i class="fa fa-star"></i>
    </button>
    <button *ngIf="isDifferentUser()"
      class="w-10 h-10 transition-all bg-rose-300 text-rose-200 hover:bg-rose-400 hover:bg-opacity-45 hover:text-rose-50 bg-opacity-40 backdrop-blur-md rounded-lg">
      <i class="fa-solid fa-flag"></i>
    </button>
  </div>
</div>
<div class="w-full px-6 md:px-10 pb-10 space-y-10">
  <div class="flex flex-col gap-4">
    <div class="flex px-3 text-sm text-gray-700 gap-5">
      <div class="flex justify-center md:justify-start items-center space-x-1 text-sm xl:text-base text-gray-800">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-month" width="16"
          height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="#4B5563" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z" />
          <path d="M16 3v4" />
          <path d="M8 3v4" />
          <path d="M4 11h16" />
          <path d="M7 14h.013" />
          <path d="M10.01 14h.005" />
          <path d="M13.01 14h.005" />
          <path d="M16.015 14h.005" />
          <path d="M13.015 17h.005" />
          <path d="M7.01 17h.005" />
          <path d="M10.01 17h.005" />
        </svg>
        <p>Joined {{user.memberSince.toString()| dateFormat}}</p>
      </div>
      <div class="flex justify-center md:justify-start items-center space-x-1 text-sm xl:text-base text-gray-800">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin-filled" width="16"
          height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="#4B5563" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M18.364 4.636a9 9 0 0 1 .203 12.519l-.203 .21l-4.243 4.242a3 3 0 0 1 -4.097 .135l-.144 -.135l-4.244 -4.243a9 9 0 0 1 12.728 -12.728zm-6.364 3.364a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z"
            stroke-width="0" fill="currentColor" />
        </svg>
        <p>{{user.country}}, {{user.city}}</p>
      </div>
    </div>
    <div class="px-3">
      <p class="text-gray-700">
        {{user.description}}
      </p>
    </div>
  </div>
  <div class="flex h-full">
    <div class="w-full flex flex-col gap-3 px-5">
      <div class="flex h-14 items-center justify-center rounded-lg bg-gray-100 space-x-3 p-3 border-b w-full">
        <button *ngIf="isCurrentUserOwner()" (click)="showInfo()"
          class="flex text-white bg-gray-900 hover:bg-gray-800 items-center justify-center rounded-md px-3 py-2 text-sm font-normal transition-all focus:outline-none focus:ring-2 flex-1">
          Info
        </button>
        <button (click)="showPosts()"
          class="flex text-white bg-gray-900 hover:bg-gray-800 items-center justify-center rounded-md px-3 py-2 text-sm font-normal transition-all focus:outline-none focus:ring-2 flex-1">
          Posts
        </button>
        <button (click)="showSaved()"
          class="flex text-white bg-gray-900 hover:bg-gray-800 items-center justify-center rounded-md px-3 py-2 text-sm font-normal transition-all focus:outline-none focus:ring-2 flex-1">
          Saved
        </button>
      </div>
      <div class="overflow-hidden bg-transparent rounded-md">
        <div class="flex bg-gray-100 rounded-md w-[300%] overflow-hidden transition-all duration-500" id="tabContainer"
          [ngClass]="{'h-[49.3rem] md:h-[31.5rem] lg:h-[18rem]': isInfoShown, 'h-[26rem] md:h-[30rem]': (isPostsShown && cars.length === 0) || (isSavedShown && savedCars.length === 0), 'h-[47rem] md:h-[51rem]': (isPostsShown && cars.length !== 0) || (isSavedShown && savedCars.length !== 0)}">
          <div class="flex flex-col justify-start w-full rounded-md overflow-y-auto scroll-hide">
            <div class="flex flex-col md:flex-row p-10 gap-8 md:gap-4">
              <div class="flex flex-col md:w-1/2 gap-8 h-full">
                <div class="flex flex-col lg:flex-row gap-8">
                  <div class="flex items-center gap-3 lg:w-1/2">
                    <i class="fa-solid text-4xl text-gray-800 fa-user"></i>
                    <div class="flex flex-col">
                      <p class="text-sm">Name and lastname:</p>
                      <p>{{user.name}} {{user.lastname}}</p>
                    </div>
                  </div>
                  <div class="flex items-center gap-2 w-full lg:w-1/2">
                    <p class="font-bold text-4xl">@</p>
                    <div class="flex flex-col">
                      <p class="text-sm">Username:</p>
                      <p>{{user.username}}</p>
                    </div>
                  </div>
                </div>
  
                <div class="flex gap-8 flex-col lg:flex-row">
                  <div class="flex items-center gap-3 lg:w-1/2">
                    <i class="fa-solid text-4xl text-gray-800 fa-phone"></i>
                    <div class="flex flex-col">
                      <p class="text-sm">Phone number:</p>
                      <p>{{user.phone}}</p>
                    </div>
                  </div>
                  <div class="flex items-center gap-3 lg:w-1/2">
                    <i class="fa-solid text-4xl text-gray-800 fa-envelope"></i>
                    <div class="flex flex-col">
                      <p class="text-sm">Email:</p>
                      <p>{{user.email}}</p>
                    </div>
                  </div>
                </div>
                <div class="flex gap-8 flex-col lg:flex-row">
                  <div class="flex items-center gap-3 lg:w-1/2">
                    <i class="fa-solid text-4xl text-gray-800 fa-calendar"></i>
                    <div class="flex flex-col">
                      <p class="text-sm">Date of birth:</p>
                      <p>{{user.birthdate.toString() | birthdate}}</p>
                    </div>
                  </div>
                  <div class="flex items-center gap-3 lg:w-1/2">
                    <i class="fa-solid text-4xl text-gray-800 fa-venus-mars"></i>
                    <div class="flex flex-col">
                      <p class="text-sm">Gender:</p>
                      <p>{{user.gender}}</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex flex-col md:w-1/2 gap-4 h-auto w-full">
                <div class="flex items-center gap-3">
                  <i class="fa-solid text-4xl text-gray-800 fa-location-dot"></i>
                  <div class="flex flex-col">
                    <p class="text-sm">Country and city:</p>
                    <p>{{user.country}}, {{user.city}}</p>
                  </div>
                </div>
                <div class="bg-sky-600 w-full h-48 md:h-full rounded-lg">
                  
                </div>
              </div>
              
            </div>
          </div>
          <div class="w-full">
            <div class="flex space-x-4 w-full p-4 sticky">
              <div
                class="flex w-full self-center bg-gray-200 rounded-lg text-sm sm:text-base h-8 sm:h-10 justify-between hover:shadow-sm">
                <input type="text" placeholder="Search" [(ngModel)]="searchFilterPosts" (keyup)="onSearchPosts()"
                  class="bg-transparent px-3 focus:outline-none w-full text-gray-500">
                <div class="flex items-center">
                  <i class="fa fa-search text-gray-500 px-3 hover:text-sky-700"></i>
                </div>
              </div>
              <button
                class="rounded-lg flex items-center text-sm sm:text-base text-white px-3 focus:outline-sky-800 h-8 sm:h-10 self-center bg-sky-600 hover:bg-sky-700 focus:bg-sky-700 transition-all">Filter
                <i class="fa-solid fa-filter pl-2"></i>
              </button>
            </div>
            <div *ngIf="cars.length === 0" class="flex flex-col w-full h-full items-center justify-center pb-32 px-10">
              <div class="rotate-6">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-car-off" width="140"
                  height="140" viewBox="0 0 24 24" stroke-width="1.5" stroke="#A1A1AA" fill="none"
                  stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                  <path d="M15.584 15.588a2 2 0 0 0 2.828 2.83" />
                  <path d="M5 17h-2v-6l2 -5h1m4 0h4l4 5h1a2 2 0 0 1 2 2v4m-6 0h-6m-6 -6h8m4 0h3m-6 -3v-2" />
                  <path d="M3 3l18 18" />
                </svg>
              </div>
              <div class="rotate-6 font-bold text-3xl sm:text-4xl lg:text-5xl text-gray-400 text-center">
                There are no cars published yet
              </div>
            </div>
            <div *ngIf="cars.length !== 0"
              class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 w-full h-full gap-6 xl:gap-8 px-4 pt-2 pb-[5.25rem] scroll-hide overflow-y-scroll content-start">
              <div *ngFor="let car of cars; let i = index"
                class="h-72 2xl:h-96 w-full bg-gray-200 hover:bg-gray-300 hover:-translate-y-1 transition-all rounded-md overflow-hidden relative">
                <button (click)="handleFavorites(car)" attr.data-car-id="{{car.id}}"
                  class="save-btn z-[2] absolute hover:scale-105 transition-all text-gray-800 hover:text-yellow-500 focus:outline-none top-2 left-8 text-4xl sm:text-4xl md:text-5xl rounded-lg">
                  <i class="fas fa-bookmark"></i>
                </button>
                <a (click)="goToCar(car.id)" class="w-full h-full cursor-pointer flex flex-col">
                  <div class="p-4 rounded-md h-48 2xl:h-72 w-full">
                    <img [src]="url + car.images[0]?.imageUrl"
                      class="rounded-md h-full w-full object-cover object-center">
                  </div>
                  <div id="texto" class="px-4 pb-4 h-fit flex flex-col gap-1">
                    <p class="text-gray-800 text-lg 2xl:text-xl font-semibold">{{car.title}}</p>
                    <p class="text-gray-700 text-sm 2xl:text-base">{{car.year}} - {{car.location}}</p>
                    <div class="flex items-center justify-between">
                      <p class="text-gray-700 font-semibold text-sm 2xl:text-base">{{car.price | thousandSeparator}} €
                      </p>
                      <button (click)="openViewModal($event, car)"
                        class="hidden lg:block text-gray-500 hover:text-sky-700 transition-colors rounded-lg focus:text-sky-700 focus:outline-gray-400">
                        <i class="fas text-sm 2xl:text-base fa-eye"></i>
                      </button>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="w-full">
            <div class="flex space-x-4 w-full p-4 sticky">
              <div
                class="flex w-full self-center bg-gray-200 rounded-lg text-sm sm:text-base h-8 sm:h-10 justify-between hover:shadow-sm">
                <input type="text" placeholder="Search" [(ngModel)]="searchFilterSaved" (keyup)="onSearchSaved()"
                  class="bg-transparent px-3 focus:outline-none w-full text-gray-500">
                <div class="flex items-center">
                  <i class="fa fa-search text-gray-500 px-3 hover:text-sky-700"></i>
                </div>
              </div>
              <button
                class="rounded-lg flex items-center text-sm sm:text-base text-white px-3 focus:outline-sky-800 h-8 sm:h-10 self-center bg-sky-600 hover:bg-sky-700 focus:bg-sky-700 transition-all">Filter
                <i class="fa-solid fa-filter pl-2"></i>
              </button>
            </div>
            <div *ngIf="savedCars.length === 0"
              class="flex flex-col w-full h-full items-center justify-center pb-32 px-10">
              <div class="rotate-6">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-car-off" width="140"
                  height="140" viewBox="0 0 24 24" stroke-width="1.5" stroke="#A1A1AA" fill="none"
                  stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                  <path d="M15.584 15.588a2 2 0 0 0 2.828 2.83" />
                  <path d="M5 17h-2v-6l2 -5h1m4 0h4l4 5h1a2 2 0 0 1 2 2v4m-6 0h-6m-6 -6h8m4 0h3m-6 -3v-2" />
                  <path d="M3 3l18 18" />
                </svg>
              </div>
              <div class="rotate-6 font-bold text-3xl sm:text-4xl lg:text-5xl text-gray-400 text-center">
                This user has no cars saved yet
              </div>
            </div>
            <div *ngIf="savedCars.length !== 0"
              class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 w-full h-full gap-6 xl:gap-8 px-4 pt-2 pb-[5.25rem] scroll-hide overflow-y-scroll content-start">
              <div *ngFor="let savedCar of savedCars; let i = index"
                class="h-72 2xl:h-96 w-full bg-gray-200 hover:bg-gray-300 hover:-translate-y-1 transition-all rounded-md overflow-hidden relative">
                <button (click)="handleFavorites(savedCar)" attr.data-car-id="{{savedCar.id}}"
                  class="save-btn z-[2] absolute hover:scale-105 transition-all text-gray-800 hover:text-yellow-500 focus:outline-none top-2 left-8 text-4xl sm:text-4xl md:text-5xl rounded-lg">
                  <i class="fas fa-bookmark"></i>
                </button>
                <a (click)="goToCar(savedCar.id)" class="w-full h-full cursor-pointer flex flex-col">
                  <div class="p-4 rounded-md h-48 2xl:h-72 w-full">
                    <img [src]="url + savedCar.images[0]?.imageUrl"
                      class="rounded-md h-full w-full object-cover object-center">
                  </div>
                  <div id="texto" class="px-4 pb-4 h-fit flex flex-col gap-1">
                    <p class="text-gray-800 text-lg 2xl:text-xl font-semibold">{{savedCar.title}}</p>
                    <p class="text-gray-700 text-sm 2xl:text-base">{{savedCar.year}} - {{savedCar.location}}</p>
                    <div class="flex items-center justify-between">
                      <p class="text-gray-700 font-semibold text-sm 2xl:text-base">{{savedCar.price |
                        thousandSeparator}} €</p>
                      <button (click)="openViewModal($event, savedCar)"
                        class="hidden lg:block text-gray-500 hover:text-sky-700 transition-colors rounded-lg focus:text-sky-700 focus:outline-gray-400">
                        <i class="fas text-sm 2xl:text-base fa-eye"></i>
                      </button>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isViewModalVisible" (click)="closeViewModal()"
    class="fixed inset-0 hidden lg:flex z-10 bg-gray-400 backdrop-blur-lg bg-opacity-50 h-full w-full items-center justify-center"
    id="my-modal">
    <div (click)="$event.stopPropagation()"
      class="p-5 border w-7/12 shadow-lg rounded-xl space-y-6 bg-white bg-opacity-75 backdrop-blur-lg">
      <div class="flex lg:h-40 2xl:h-52 space-x-8">
        <div class="relative h-full rounded-lg lg:w-5/12 2xl:w-4/12">
          <img class="absolute object-cover h-full w-full hover:shadow-lg rounded-xl"
            [src]="url + selectedCar.images?.[imageIndex[selectedCar.id]]?.imageUrl">

          <button *ngIf="imageIndex[selectedCar.id] > 0"
            class="absolute focus:outline-none top-1/2 -translate-y-1/2 hover:bg-white hover:bg-opacity-25 hover:backdrop-blur-sm p-2 left-2 rounded-lg lg:text-xl 2xl:text-2xl text-white transition-colors hover:text-gray-800"
            (click)="prevImage($event, selectedCar)">
            <i class="fas fa-chevron-left"></i>
          </button>

          <div class="flex justify-center w-full">
            <div
              class="space-x-2 flex bg-white bg-opacity-20 backdrop-blur-sm lg:py-2 2xl:py-3 px-3 bottom-0 absolute items-center rounded-t-lg">
              <button *ngFor="let image of selectedCar.images; let i = index"
                class="lg:w-3 2xl:w-5 lg:h-1 2xl:h-2 rounded-md hover:bg-gray-300 transition-colors self-center cursor-pointer"
                [ngClass]="{'bg-gray-700': imageIndex[selectedCar.id] === i, 'bg-gray-100': imageIndex[selectedCar.id] !== i}"
                (click)="changePageCarousel(i, selectedCar)">
              </button>
            </div>
          </div>

          <button
            *ngIf="selectedCar && selectedCar.images && imageIndex[selectedCar.id] < selectedCar.images.length - 1"
            class="absolute focus:outline-none top-1/2 -translate-y-1/2 hover:bg-white hover:bg-opacity-25 hover:backdrop-blur-sm p-2 right-2 rounded-lg lg:text-xl 2xl:text-2xl text-white transition-colors hover:text-gray-800"
            (click)="nextImage($event, selectedCar)">
            <i class="fas fa-chevron-right"></i>
          </button>

          <button (click)="handleFavorites(selectedCar)" attr.data-car-id="{{selectedCar.id}}"
            class="relative save-btn hover:scale-105 lg:-top-2 2xl:-top-1 left-8 lg:text-4xl 2xl:text-5xl hover:text-yellow-500 text-gray-800 transition-all rounded-lg">

            <i class="fas fa-bookmark"></i>
          </button>
        </div>
        <div class="flex flex-col justify-between lg:w-7/12 2xl:w-8/12">
          <button (click)="closeViewModal()"
            class="absolute -top-2 right-0 mt-4 mr-4 text-gray-500 hover:text-sky-700 transition-colors">
            <i class="fas fa-times text-xl"></i>
          </button>
          <div class="lg:space-y-1 2xl:space-y-3">
            <h1 class="font-semibold lg:text-3xl 2xl:text-4xl text-gray-800">{{selectedCar.title}}</h1>
            <h2 class="font-normal lg:text-xl 2xl:text-2xl text-gray-600">{{selectedCar.price | thousandSeparator}}
              {{selectedCar.currency}}</h2>
          </div>
          <div class="block 2xl:flex space-y-3 2xl:space-y-0 items-center 2xl:space-x-10 lg:text-base 2xl:text-lg">
            <div class="flex space-x-2 items-center">
              <div class="rounded-full overflow-hidden bg-gray-500 lg:h-5 2xl:w-7 lg:w-5 2xl:h-7">
                <img *ngIf="selectedCar.owner.profilePicture" src='../../../../../assets/images/nano.jpg' class="flex h-full object-cover w-full items-center justify-center">
                <div *ngIf="!selectedCar.owner.profilePicture" class="w-full h-full bg-sky-600 justify-center items-center flex tracking-[-0.1rem] text-[10px] text-white">
                  {{selectedCar.owner.name.charAt(0)}}
                  {{selectedCar.owner.lastname.charAt(0)}}
                </div>
              </div>
              <span class="text-gray-800 cursor-pointer" [routerLink]="['/user', selectedCar.owner.id]"
                (click)="resetBehavior()">{{selectedCar.owner.username}}</span>
              <div class="flex space-x-1">
                <i *ngFor="let starIndex of getStarIndexes()" class="fa fa-star text-gray-500"></i>
                <i *ngIf="selectedCar.owner.ratingAverage % 1 > 0" class="fa fa-star-half text-gray-500"></i>
              </div>
              <span class="text-gray-800 self-center">({{selectedCar.owner.ratingCount}})</span>
            </div>
            <div class="flex space-x-8">
              <div class="flex items-center">
                <i class="fa fa-location-dot text-gray-500 pr-2"></i>
                <span class="text-gray-800">{{selectedCar.location}}</span>
              </div>
              <div class="flex items-center">
                <i class="fa fa-calendar text-gray-500 pr-2"></i>
                <span class="text-gray-800">{{selectedCar.year}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex justify-start space-x-10 overflow-x-auto overflow-y-hidden whitespace-nowrap lg:pb-4 2xl:pb-6 rounded-scrollbar text-gray-700 lg:text-sm 2xl:text-base">
        <span class="lg:py-1 2xl:py-2 lg:px-3 2xl:px-4 bg-gray-300 rounded-3xl flex items-center">{{selectedCar.brand |
          capitalizeFirst}}
          <i class="fa fa-car pl-2"></i>
        </span>
        <span class="py-2 px-3 bg-gray-300 rounded-3xl flex items-center">{{selectedCar.model | capitalizeFirst}}
          <i class="fa fa-car pl-2"></i>
        </span>
        <span *ngIf="selectedCar?.horsepower" class="py-2 px-3 bg-gray-300 rounded-3xl flex items-center">
          {{selectedCar.horsepower | thousandSeparator }}
          hp
          <i class="fa fa-car pl-2"></i>
        </span>
        <span class="py-2 px-3 bg-gray-300 rounded-3xl flex items-center">{{selectedCar.fuel| capitalizeFirst}}
          <i class="fa fa-car pl-2"></i>
        </span>
        <span class="py-2 px-3 bg-gray-300 rounded-3xl flex items-center">{{selectedCar.gearbox | capitalizeFirst}}
          <i class="fa fa-car pl-2"></i>
        </span>
        <span *ngIf="selectedCar?.type" class="py-2 px-3 bg-gray-300 rounded-3xl flex items-center">
          {{selectedCar.type}}
          <i class="fa fa-car pl-2"></i>
        </span>
        <span class="py-2 px-3 bg-gray-300 rounded-3xl flex items-center">{{selectedCar.distance | roundToThousandth}}
          km
          <i class="fa fa-car pl-2"></i>
        </span>
        <span class="py-2 px-3 bg-gray-300 rounded-3xl flex items-center">{{selectedCar.seats}} seats
          <i class="fa fa-car pl-2"></i></span>
        <span class="py-2 px-3 bg-gray-300 rounded-3xl flex items-center">{{selectedCar.doors}} doors
          <i class="fa fa-car pl-2"></i>
        </span>
      </div>
      <div *ngIf="selectedCar?.description"
        class="text-gray-700 lg:max-h-32 2xl:max-h-60 lg:text-base 2xl:text-lg overflow-y-auto overflow-x-hidden pr-8 rounded-scrollbar">
        {{selectedCar.description}}
      </div>
      <div class="flex justify-between space-x-3 items-center">
        <div class="flex space-x-4 text-gray-500 lg:text-sm 2xl:text-base">
          <div>
            <p>{{selectedCar.views}} views</p>
          </div>
          <div>
            <p>{{selectedCar.saves}} saves</p>
          </div>
        </div>
        <div class="flex gap-1">
          <button *ngIf="isCurrentUserOwner()" (click)="deleteCar(selectedCar.id)"
            class="rounded-md bg-red-400 hover:bg-red-500 lg:text-sm 2xl:text-base transition-all px-3 py-2 text-white">
            <i class="fa fa-trash text-white px-2"></i>
          </button>
          <button [routerLink]="['/car', selectedCar.id]" (click)="resetBehavior()"
            class="rounded-md bg-sky-600 hover:bg-sky-700 lg:text-sm 2xl:text-base transition-all px-3 py-2 text-white">
            More info
            <i class="fa fa-circle-info text-white px-2"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isDeleteModalVisible" (click)="closeDeleteModal()"
    class="fixed inset-0 bg-gray-400 backdrop-blur-md bg-opacity-50 h-full w-full flex items-center justify-center"
    id="my-modal">
    <div (click)="$event.stopPropagation()"
      class="p-5 border w-96 shadow-lg rounded-xl bg-white bg-opacity-75 backdrop-blur-lg">
      <div class="mt-3 text-center">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          <i class="fas fa-exclamation-triangle text-red-500 mr-2"></i>Confirm Deletion
        </h3>
        <div class="mt-2 px-7 py-3">
          <p class="text-sm text-gray-500">
            Are you sure you want to delete this user?
          </p>
          <p class="text-sm text-gray-500">
            This action cannot be undone.
          </p>
        </div>
        <div class="flex items-center justify-evenly px-4 py-3 sm:flex-row flex-col">
          <button id="ok-btn" (click)="deleteUser()"
            class="flex items-center justify-center px-4 py-2 bg-red-500 text-white text-base font-medium rounded-md shadow-sm hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300 transition-colors w-full sm:w-auto">
            <i class="fas fa-check mr-2"></i>Confirm
          </button>
          <button id="cancel-btn" (click)="closeDeleteModal()"
            class="flex items-center justify-center px-4 py-2 bg-gray-100 text-gray-900 text-base font-medium rounded-md shadow-sm hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-200 transition-colors w-full sm:w-auto">
            <i class="fas fa-times mr-2"></i>Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>