<div class="h-[34rem] md:h-[22rem] lg:h-[26rem] relative">
  <img src='../../../../../assets/images/image1.webp' class="absolute h-full w-full object-cover object-center">
  <div class="gradient-mobile md:hidden object-cover absolute top-0 w-full h-full"></div>
  <div class="gradient-one hidden md:block object-cover absolute top-0 w-full h-full"></div>
  <div class="flex flex-col absolute w-full items-center justify-start md:flex-row md:items-start gap-4 lg:gap-8 h-full px-6 md:px-10 pt-24 pb-10">
    <div class="h-40 md:h-full flex items-center ">
      <span class="relative flex shrink-0 overflow-hidden rounded-full md:rounded-xl h-full w-full aspect-square">
        <img src='../../../../../assets/images/nano.jpg' class="flex h-full object-cover w-full items-center justify-center rounded-full md:rounded-xl">
      </span>
    </div>
    <div class="h-full gap-4 lg:gap-8 flex flex-col justify-between text-center md:text-left md:w-96">
      <div class="flex flex-col space-y-2 md:space-y-1 lg:space-y-2 md:backdrop-blur-md h-full md:bg-gray-50 md:bg-opacity-50 md:rounded-lg md:py-3 md:px-5 lg:py-4">
        <h1 class="text-2xl lg:text-3xl font-bold">{{user.name}} {{user.lastname}}</h1>
        <p class="text-base lg:text-lg text-gray-800">@{{user.username}}</p>
        <div class="flex justify-center md:justify-start items-center space-x-1 text-sm  text-gray-800">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone-filled" width="16" height="16"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="#4B5563" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M9 3a1 1 0 0 1 .877 .519l.051 .11l2 5a1 1 0 0 1 -.313 1.16l-.1 .068l-1.674 1.004l.063 .103a10 10 0 0 0 3.132 3.132l.102 .062l1.005 -1.672a1 1 0 0 1 1.113 -.453l.115 .039l5 2a1 1 0 0 1 .622 .807l.007 .121v4c0 1.657 -1.343 3 -3.06 2.998c-8.579 -.521 -15.418 -7.36 -15.94 -15.998a3 3 0 0 1 2.824 -2.995l.176 -.005h4z"
              stroke-width="0" fill="currentColor" />
          </svg>
          <p>{{user.phone}}</p>
        </div>
        <div class="flex justify-center md:justify-start items-center space-x-1 text-sm  text-gray-800">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin-filled" width="16"
            height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="#4B5563" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M18.364 4.636a9 9 0 0 1 .203 12.519l-.203 .21l-4.243 4.242a3 3 0 0 1 -4.097 .135l-.144 -.135l-4.244 -4.243a9 9 0 0 1 12.728 -12.728zm-6.364 3.364a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z"
              stroke-width="0" fill="currentColor" />
          </svg>
          <p>{{user.country}} - {{user.province}}</p>
        </div>
        <div class="flex items-center justify-center md:justify-start gap-2">
          <div class="flex space-x-1">
            <i *ngFor="let starIndex of getStarIndexes()" class="fa fa-star text-sm text-gray-800"></i>
            <i *ngIf="averageRating % 1 > 0" class="fa fa-star-half text-sm text-gray-800"></i>
          </div>
          <span class="text-sm text-gray-700">({{ratingCount}})</span>
        </div>
      </div>
      <button
        class="hidden md:flex bg-black hover:bg-gray-900 justify-center focus:bg-gray-900 focus:outline-none rounded-lg w-full text-white py-2 lg:py-3 transition-colors">
        Contact
      </button>
    </div>
    <button
      class="flex md:hidden justify-center bg-black hover:bg-gray-900 focus:bg-gray-900 focus:outline-none rounded-lg w-full text-white py-3 transition-colors">
      Contact
    </button>
  </div>
</div>
<div class="w-full px-6 md:px-10 pb-10 space-y-10">
  <div>
    <div class="grid gap-4">
      <p class="text-gray-700">
        {{user.description}}
      </p>
    </div>
  </div>
  <div class="flex h-full">
    <div class="w-full flex flex-col gap-3">
      <div class="flex h-14 items-center justify-center rounded-lg bg-gray-100 space-x-3 p-3 border-b w-full">
        <button data-state="active"
          class="flex text-white bg-gray-900 hover:bg-gray-800 items-center justify-center rounded-md px-3 py-2 text-sm font-normal transition-all focus:outline-none focus:ring-2 flex-1">
          Posts
        </button>
        <button
          class="flex text-white bg-gray-900 hover:bg-gray-800 items-center justify-center rounded-md px-3 py-2 text-sm font-normal transition-all focus:outline-none focus:ring-2 flex-1">
          Saved
        </button>
      </div>
      <div class="flex bg-gray-100 h-96 rounded-lg">

      </div>
    </div>
  </div>
</div>