<div class="items-start max-w-7xl mx-auto py-10">
  <div class="flex gap-10">
    <div class="items-start h-auto w-11/12 relative">
      <a href="" class="h-full">
        <img class="object-cover h-full hover:shadow-lg rounded-lg" src="../../../../../../assets/images/image1.jpg">
      </a>
      <button class="absolute -top-1 left-10 text-5xl hover:text-sky-600 text-gray-800 transition-colors rounded-lg">
        <i class="fas fa-bookmark"></i>
      </button>
    </div>
    <div class="grid gap-4 md:gap-10 items-start w-full">
      <div class="grid gap-4">
        <h1 class="font-bold text-3xl lg:text-4xl text-gray-800">
          2022 Tesla Model S
        </h1>
        <div class="text-2xl lg:text-3xl font-bold text-gray-800">
          156.000€
        </div>
      </div>
      <div class="flex items-center gap-2">
        <div class="grid gap-2">
          <label class="peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-base font-semibold text-gray-700" for="contact">
            Contact Information
          </label>
          <p class="text-lg text-gray-600">
            Username - (123) 456-7890
          </p>
          <div class="flex items-center gap-2">
            <i class="fas fa-star text-gray-500"></i>
            <p class="text-base text-gray-800">
              4,5
            </p>
            <p>
              (123)
            </p>
          </div>
        </div>
      </div>
      <div class="flex items-center gap-10 mt-4">
        <div class="flex items-center gap-2">
          <i class="fas fa-map-marker-alt text-lg text-gray-600"></i>
          <p class="text-lg text-gray-800">
            Valencia
          </p>
        </div>
        <div class="flex items-center gap-2">
          <i class="fas fa-calendar-alt text-lg text-gray-600"></i>
          <p class="text-lg text-gray-800">
            2018
          </p>
        </div>
        <div class="flex items-center gap-2">
          <i class="fa-solid fa-tag text-lg text-gray-600"></i>
          <p class="text-lg text-gray-800">
            Black
          </p>
        </div>
      </div>
      <button class="justify-center text-md font-medium focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50 h-11 rounded-lg bg-black text-white hover:bg-gray-800 transition-colors w-full">
        Contact Seller
      </button>
    </div>
  </div>
  <div class="flex py-12">
    <div class="aditional-information space-y-12">
      <div class="flex w-full justify-between">
        <div class="flex flex-col items-center gap-3">
          <i class="fas fa-car text-3xl text-gray-700"></i>
          <p class="text-base text-gray-800">
            McLaren
          </p>
        </div>
        <div class="flex flex-col items-center gap-3">
          <i class="fas fa-tag text-3xl text-gray-700"></i>
          <p class="text-base text-gray-800">
            Artura
          </p>
        </div>
        <div class="flex flex-col items-center gap-3">
          <i class="fas fa-road text-3xl text-gray-700"></i>
          <p class="text-base text-gray-800">
            100,000km
          </p>
        </div>
        <div class="flex flex-col items-center gap-3">
          <i class="fas fa-car-side text-3xl text-gray-700"></i>
          <p class="text-base text-gray-800">
            Sporty
          </p>
        </div>
        <div class="flex flex-col items-center gap-3">
          <i class="fa-solid fa-gauge-high text-3xl text-gray-700"></i>
          <p class="text-base text-gray-800">
            547hp
          </p>
        </div>
        <div class="flex flex-col items-center gap-3">
          <i class="fas fa-gas-pump text-3xl text-gray-700"></i>
          <p class="text-base text-gray-800">
            Gasoline
          </p>
        </div>
        <div class="flex flex-col items-center gap-3">
          <i class="fas fa-cogs text-3xl text-gray-700"></i>
          <p class="text-base text-gray-800">
            Manual
          </p>
        </div>
        <div class="flex flex-col items-center gap-3">
          <i class="fas fa-chair text-3xl text-gray-700"></i>
          <p class="text-base text-gray-800">
            2 seats
          </p>
        </div>
        <div class="flex flex-col items-center gap-3">
          <i class="fas fa-door-open text-3xl text-gray-700"></i>
          <p class="text-base text-gray-800">
            2 doors
          </p>
        </div>
      </div>
      <hr class="border-2 rounded-lg border-gray-600">
      <div class="flex">
        <div class="flex justify-between w-full">
          <div class="flex flex-row bg-gray-200 rounded-lg hover:shadow-sm">
            <div class="bg-blue-600 p-5 rounded-l-lg text-white">
              <p class="text-2xl font-bold">E</p>
            </div>
            <div class="self-center w-full px-5 text-black">
              <h1 class="text-4xl font-bold text-center">6041 CMB</h1>
            </div>
          </div>
          <div class="flex flex-col items-center gap-2">
            <p>DGT Sticker:</p>
            <p class="text-gray-800 py-1 px-3 text-lg font-bold bg-green-500 rounded-3xl hover:shadow-sm">
              C
            </p>
          </div>
          <div class="flex flex-col items-center">
            <p>Last ITV:</p>
            <p class="text-gray-800 p-2 text-lg font-bold">
              11/2020
            </p>
          </div>
          <div class="flex flex-col items-center">
            <p>Consumption:</p>
            <p class="text-gray-800 p-2 text-lg font-bold">
              11.2l/100km
            </p>
          </div>
          <div class="flex flex-col items-center">
            <p>Emissions:</p>
            <p class="text-gray-800 p-2 text-lg font-bold">
              95g CO2/km
            </p>
          </div>
        </div>
      </div>
      <div class="flex h-96 gap-10">
        <div class="w-1/2">
          <p class="text-gray-600 h-full whitespace-normal">
            The 2022 Tesla Model S stands out as a cutting-edge, all-electric sedan that seamlessly combines performance
            and sustainability. With its sleek design, this vehicle not only turns heads on the road but also contributes
            to a greener future.
      
            Under the hood, the Model S boasts remarkable acceleration and precise handling, providing a thrilling driving
            experience. Its electric drivetrain delivers power with efficiency, making it a standout option in the world
            of electric vehicles. The extended driving range ensures that you can confidently embark on longer journeys
            without the worry of frequent recharging.
          </p>
        </div>
        <!-- <div style="height: 400px; width: 50%;">
          <google-map [options]="options" (mapClick)="moveMap($event)" (mapMousemove)="move($event)" style="height: 100%; width: 100%;"></google-map>
        </div> -->
        
        
      </div>
    </div>
  </div>

</div>